.pah .pah166_loaded,
body.pah166_loaded {
    & .side-nav-category[data-module="side_nav_category"] {
        display: none;
    }
    
    & [test="pah166"] {
        &.browse_links {
            display: flex;
            font-size: 16px;
            flex-wrap: wrap;
            padding: 0 1.5em 1em;
        }
        
        &.browse_link {
            padding: .625em 1.5em;
            margin: 1em 3em 0 -1.5em;
            
            font-size: 1em;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
            font-family: "Museo", sans-serif;

            color: #666666;
            background: #F7F7F7;
            transition: all .1s var(--transition-curve);
            border-radius: var(--border-radius);

            &:first-child() {
                margin-left: 0;
            }


            &:hocus {
                color: #ffffff;
                background: var(--pets-brand-green);
            }
        }

        & [href="#toggle_links"] {
            width: 60px;

            & .show_links {
                display: block;
            }

            & .hide_links {
                display: none;
            }
        }

        &.browse_links {
            &.show_all {
                & .hide_links {
                    display: block;
                }
                & .show_links {
                    display: none;
                }
            }
            &:not(.show_all) {
                & .browse_link:nth-child(n + 6):not([href="#toggle_links"]) {
                    display: none;
                }
            }
        }
    }
}