.pah .pah166_loaded,
body.pah166_loaded {
    & [data-module="filter_slugs"],
    & #facetSection {
        display: none;
    }
    
    & .sort_and_filter_container .quick_filters {
        flex-grow: 1;
        display: flex;
        align-items: center;

        & .facet_link {
            padding: 1em;
            font-size: 1em;
            border-radius: 28px;
            align-items: center;
            display: inline-flex;
            text-decoration: none;
            color: var(--charcoal);
            border: 1px solid var(--smoke);

            &:not(:last-child) {
                margin-right: 1em;
            }

            & .count {
                --size: 1.4em;
                font-weight: 600;
                width: var(--size);
                height: var(--size);
                border-radius: 100%;
                margin-left: calc(var(--size) / 2);

                align-items: center;
                display: inline-flex;
                justify-content: center;

                background: var(--white);
                font-size: calc(var(--size) * .8);
                color: var(--pets-brand-dark-green);
            }

            &[active_count="0"] {
                & .count {
                    width: 0;
                    margin: 0;
                    opacity: 0;
                    overflow: hidden;
                }
            }

            &:not([active_count="0"]) {
                color: var(--white);
                background: var(--pets-brand-dark-green);
                border-color: var(--pets-brand-dark-green);
            }
            &:hocus {
                color: var(--white);
                background: var(--pets-brand-green);
                border-color: var(--pets-brand-green);
                & .count {
                    color: var(--pets-brand-green);
                }
            }
        }
    }

    & [test="pah166"] {
        &.filters {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: fixed;

            & .facets {
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                overflow: auto;
                position: fixed;
                font-size: 16px;
                flex-direction: column;
                background: var(--white);
                padding: 2.9375em 1.3125em 0;
                width: clamp(20%, 496px, 80%);
                font-family: "Museo", sans-serif;
                box-shadow: 0px -3px 4px -2px rgba(0,0,0,.35);

                & header,
                & .facet_option {
                    display: flex;
                    justify-content: space-between;
                }
                
                & .close,
                & .facet_option,
                & .facet_header {
                    cursor: pointer;
                }

                & .facet_option {
                    font-size: 1em;
                    padding-left: 0;
                    padding: .8em 2em .8em 0em;

                    & .name {
                        flex-grow: 1;
                    }
                }
                
                & .facet,
                & header:not(.facet_header) {
                    border-bottom: 1px solid #E5E5E5;   
                }

                & header {
                    font-weight: 600;
                    line-height: 1.2;
                    font-size: 1.5em;
                    padding: 1.5rem;

                    &.facet_header {
                        font-size: 1.25em;
                    }
                }

                & .facet_options {
                    max-height: 0px;
                    overflow: hidden;
                    padding: 0 1.5rem;
                    transition: all .35s var(--transition-curve);

                    & .checkbox {
                        --size: 1em;
                        display: block;
                        width: var(--size);
                        border-radius: 4px;
                        height: var(--size);
                        margin-right: var(--size);
                        background-color: var(--smoke);
                    }

                    & [is_active="true"] {
                        & .checkbox {
                            background-color: var(--pets-brand-green);
                        }
                    }
                }

                & .active {
                    & + .facet_options {
                        overflow: auto;
                        padding: 1.5rem;
                        max-height: 310px;
                    }
                }

                & .cta_container {
                    bottom: 0;
                    position: sticky;

                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    padding: 1.25em 2.8125em;
                    background: var(--white);

                    & .cta {
                        --spacing: 1em;
                        --margin: calc(var(--spacing) / 2);
                        
                        padding: 1em;
                        text-align: center;
                        border-radius: 40px;
                        text-decoration: none;
                        width: calc(50% - var(--margin));

                        &:first-child {
                            margin-right: var(--margin);
                        }

                        &:last-child {
                            margin-left: var(--margin);
                        }

                        &.ghost {
                            --ghost-color: var(--smoke);
                            color: var(--ghost-color);
                            border: 1px solid var(--ghost-color);

                            &.active {
                                --ghost-color: var(--black);
                            }
                        }

                        &.primary {
                            color: var(--white);
                            background-color: var(--pets-brand-green);
                        }
                    }
                }
            }
            
            & .background {
                top: 0;
                right: 0;
                bottom: 0;
                opacity: .5;
                z-index: -1;
                width: 100vw;
                position: fixed;
                background: #2A2A2A;
            }

            &:not(.active) {
                display: none;

                & .background {
                    display: none;
                }
            }
        }
    }
}