.pah .pah166_loaded,
body.pah166_loaded {
    & [test="pah166"] {
        --border-radius: 36px;
        --black: #2A2A2A;
        --white: #ffffff;
        --smoke: #DCDCDC;
        --charcoal: #6C6C70;
        --off-white: #F7F7F7;
        --pets-brand-red: #CE2010;
        --pets-brand-green: #54B947;
        --pets-brand-purple: #5A2C82;
        --pets-brand-dark-green: #00551C;
        --pets-brand-green: #54B947;
        --transition-curve: cubic-bezier(0.14, 0.51, 0.95, 0.88);
    }

    & [data-module="side_nav_container"] {
        display: none;
    }

    & .container-100 .genericESpot {
        width: 100%;
    }

    & *:not(.br_rel_holder) > [data-module="layout_product_tile_holder"] {
        display: grid;
        grid-gap: 1rem;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);

        & > *:not(.product-tile) {
            display: none;
        }

        & > .pagination {
            display: block;
            grid-column: 1 / span 4;
        }
    }
}