.pah .pah166_loaded,
body.pah166_loaded {
    & .input-select--plp-filter[data-module="input_select"]:nth-of-type(2) {
        display: none;
    }

    & [test="pah166"] {
        & .sort_by {
            width: 100%;
            cursor: pointer;
            position: relative;
            background: #fff;
            height: var(--height);

            & #sort_by_select {
                --border-radius: 36px;
                padding: 0;
                left: -1px;
                right: -1px;
                z-index: -1;
                max-height: 0;
                overflow: hidden;
                position: absolute;
                background: #ffffff;
                border: var(--border-style);
                top: calc(var(--height) / 2);
                transition: all 0.35s var(--transition-curve);

                & li {
                    padding: 1.2em 2em;

                    &.sort_option:first-child {
                        padding-top: calc(18px + 1.2em);
                    }

                    &.sort_option:not(:last-child) {
                        border-bottom: var(--border-style);
                    }

                    &:hocus {
                        color: #ffffff;
                        background: var(--pets-brand-green);
                    }
                }
            }

            & .icon {
                --size: 16px;
                width: var(--size);
                height: var(--size);

                position: absolute;
                right: calc(var(--size) / 2);
                transform: translateY(-50%);
                top: calc((var(--height) / 2) - 1px);
                transition: all 0.15s var(--transition-curve);
            }

            /* &:hocus, */
            &.active {
                & #sort_by_select {
                    --border-radius: 1em;
                    max-height: 700px;
                    border-bottom-right-radius: var(--border-radius);
                }
                & .icon {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }
}