.pah .pah166_loaded,
body.pah166_loaded {
    & [test="pah166"] {
        &.sort_and_filter_container {
            width: 360px;
            display: flex;
            font-size: 12px;
            font-weight: 400;
            align-self: flex-end;
            font-family: "Museo", sans-serif;

            & > div:not(.nMask) {
                --padding: 1em;
                --border-style: 1px solid #C8C8C8;

                width: 50%;
                text-align: left;
                padding: 0 1.666em;
                border: var(--border-style);

                &:only-child {
                    width: 100%;
                }

                & .heading {
                    cursor: pointer;
                    background: #fff;
                    padding: var(--padding);
                }

                &:first-child {
                    border-top-left-radius: var(--border-radius);
                    &,
                    & #sort_by_select,
                    & #sort_by_select:last-child {
                        border-bottom-left-radius: var(--border-radius);
                    }
                }
                
                &:last-child {
                    &:not(:only-child) {
                        border-left: 0;
                    }
                    border-top-right-radius: var(--border-radius);
                    &,
                    & #sort_by_select,
                    & #sort_by_select:last-child {
                        border-bottom-right-radius: var(--border-radius);
                    }
                }
            }
        }
    }
}